@model int[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ergebnis</title>
</head>
<body>
    <h1>Ergebnis</h1>
    Kuh :>  @Model[0]<br />
    Schaf :>  @Model[1]<br />
    Ziege :>  @Model[2]<br />
    Ziegchen :>  @Model[3]<br />


</body>
</html>
