@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1>Hallo ZSK</h1>
    <h3>Machen Sie Auswahl:</h3>

    <a asp-action="ZSKEingabe">Beitrag in ZSK</a> <br/>
    <a asp-action="DAHRS_Eingabe">Beitrag in DAHR</a> <br />
    <a asp-action="ZSK_DAHRS">ZSK in DAHR</a> <br />

</body>
</html>