@model ZSK_ASP.Models.Waehrung
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Beitrag in ZSK</title>
</head>
<body>
    <h1>Beitrag in ZSK</h1>

    <form asp-action="Berechnung_Betrag_ZSK" methode="post">
        <div>
            <label asp-for="Eurobetrag">Euro</label>
            <input asp-for="Eurobetrag" />
        </div>
        <button type="submit">OK</button>
    </form>

</body>
</html>
